<main id="main" class="main">
    <div class="pagetitle">
       <h1>Alumnos</h1> <!-- Cambios para git -->
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Tablas</li>
             <li class="breadcrumb-item active">Data</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Listado de Alumnos <button (click)="clickAddAlumno()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg"></i>  Agregar</button></h5>
                   <table class="table table-striped">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Carrera</th>
                            <th scope="col">Cursos</th>
                            <th scope="col">Acciones</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let alu of alumnoData">
                           <th scope="row">{{alu.id}}</th>
                           <td>{{alu.nombre}}</td>
                           <td>{{alu.edad}}</td> 
                           <td>{{alu.correo}}</td> 
                           <td><a routerLink="/carreras">{{alu.carrera}}</a></td> 
                           <td><a routerLink="/cursos">{{alu.cursos}}</a></td> 
                           <td>
                              <button (click)="onEdit(alu)" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil"></i></button>&nbsp;
                              <button (click)="deleteAlumnos(alu)" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                           </td>
                        </tr>
                      </tbody>
                   </table>

                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Alumno</h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           
                           <form [formGroup]="formValue">
                              <div class="mb-3">
                                <label class="form-label">Nombre:</label>
                                <input type="text" class="form-control" formControlName="nombre">
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Edad:</label>
                                <input type="number" class="form-control" formControlName="edad">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label">Correo:</label>
                                 <input type="email" class="form-control" formControlName="correo">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label">Carrera:</label>
                                 <input type="text" class="form-control" formControlName="carrera">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label">Cursos:</label>
                                 <input type="text" class="form-control" formControlName="cursos">
                              </div>
                           </form>

                        </div>
                        <div class="modal-footer">
                           <button type="button" *ngIf="showAdd" (click)="postAlumnoDetails()" class="btn btn-success"><i class="bi bi-save"></i>  Añadir</button>
                           <button type="button" *ngIf="showUpdate" (click)="updateAlumnoDetails()" class="btn btn-warning"><i class="bi bi-save"></i>  Actualizar</button>
                           <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>  Cancelar</button>
                        </div>
                     </div>
                     </div>
                  </div>

                </div>
             </div>
          </div>
       </div>
    </section>
 </main>

 