<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> 
         <a class="nav-link" routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a>
      </li>

      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/carreras"> <i class="bi bi-journal-code"></i> <span>Carreras</span> </a></li>

      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/cursos"> <i class="bi bi-journals"></i> <span>Cursos</span> </a></li>

      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/alumnos"> <i class="bi bi-file-person"></i> <span>Alumnos</span> </a></li>

      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/maestros"> <i class="bi bi-person"></i> <span>Maestros</span> </a></li>

      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/parciales"> <i class="bi bi-book"></i> <span>Parciales</span> </a></li>

      <li class="nav-heading">Páginas</li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i> <span>Perfil</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-register"> <i class="bi bi-card-list"></i> <span>Registrar</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-login"> <i class="bi bi-box-arrow-in-right"></i> <span>Login</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-error404"> <i class="bi bi-dash-circle"></i> <span>Error 404</span> </a></li>
    </ul>
 </aside>